body {
  background-color: #3A82AF; }
  body #kotak {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2); }
    body #kotak #bg-col {
      float: right; }
    body #kotak #input-group input#input {
      padding: 1.3em 0.7em; }
    body #kotak ul#lists {
      overflow-y: auto;
      height: 67vh;
      list-style: none;
      padding: 0; }
      body #kotak ul#lists .list-item {
        background-color: rgba(255, 255, 255, 0.7);
        margin: 0.2em 0;
        padding: 0.1rem; }
        body #kotak ul#lists .list-item:hover {
          background-color: #60D865;
          color: #FFF; }
        body #kotak ul#lists .list-item .finished {
          text-decoration: line-through;
          color: red; }
        body #kotak ul#lists .list-item .list-item-value {
          display: inline-block;
          margin: 0;
          padding: 0.8rem;
          width: 40vw; }
          body #kotak ul#lists .list-item .list-item-value:hover {
            cursor: pointer; }
        body #kotak ul#lists .list-item .list-item-info {
          float: right;
          margin: 0.8rem;
          width: 25px; }
          body #kotak ul#lists .list-item .list-item-info:hover {
            cursor: pointer; }
