body {
    background-color: #3A82AF;
    #kotak {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
        #bg-col {
            float: right;
        }
        #input-group {
            input#input {
                padding: 1.3em 0.7em;
            }
        }
        ul#lists {
            overflow-y: auto;
            height: 67vh;
            list-style: none;
            padding: 0;
            .list-item {
                background-color: rgba(255, 255, 255, 0.7);
                margin: 0.2em 0;
                padding: 0.1rem;
                &:hover {
                    background-color: #60D865;
                    color: #FFF;
                }
                .finished {
                    text-decoration: line-through;
                    color: red;
                }
                .list-item-value {
                    display: inline-block;
                    margin: 0;
                    padding: 0.8rem;
                    width: 40vw;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .list-item-info {
                    float: right;
                    margin:  0.8rem;
                    width: 25px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}